/* ESTILOS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

img {
  max-width: 200px;
  height: auto;
}

body {
  background: #fff;
  -webki-font-smoothing: antialiased;
}

li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* FIM DOS ESTILOS */

/* MENU NAV */

.menu-nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ecab0f;
  background: #000;
  border-radius: 8px;
  padding: 8px;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.menu-nav li a {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  color: #000;
  border: 2px solid #ecaa0f;
  border-radius: 8px;
}

.menu-nav li a strong{
  color: #ecab0f;
}

/* FIM MENU NAV */

/* TITULOS */
.titulo-cardapio {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  grid-column: 2 / 4;
  margin-top: 40px;
  color: #ecab0f;
}

h2::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px;
  background: #000;
}

.titulo-cardapio strong {
  color: #000;
}
/* FIM TITULOS */

/* MENU */

.conteudo .grid-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.conteudo .titulo-cardapio {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  grid-column: 2 / 4;
  margin-top: 40px;
}

.conteudo .grid-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-lista {
  grid-column: 3 / 4;
}

.conteudo .grid-lista img {
  max-width: 350px;
  height: 250px;
  border-radius: 8px;
}

.btn-voltar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
}

.btn-voltar button {
  padding: 10px;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  background: #fff;
  border-radius: 8px;
}

.btn-voltar button:hover {
  background-color: #000;
}

.btn-voltar button:hover a {
  color: #fff;
}

.btn-voltar button a {
  font-weight: 700;
  color: #ecab0f;
  padding: 10px;
}


/* FIM DO MENU */

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  background: #cccccc48;
  padding: 20px;
}

.footer h3 {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

.footer a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.footer li {
  margin-top: 20px;
  font-size: 20px;
}

.footer p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  margin-top: 25px;
}

/* FIM FOOTER */



/* LAYOUT RESPONSIVO MOBILE */

@media screen and (min-width: 300px) and (max-width: 800px) {
  .menu-nav li a {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
  }

  .menu-nav h1 {
    margin-top: -25px;
  }

  .conteudo .grid-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .conteudo .grid-lista {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    list-style: none;
    padding: 0;
    margin-left: -18px;
  }
  .grid-menu .drinks h1 {
    display: grid;
    grid-column: 1;
  }

  .footer {
    margin-top: 90px;  
  }

  .footer h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

/* FIM LAYOUT RESPONSIVO MOBILE */